body {
  height: 100vh;
  margin: 0;
  background-color: rgb(244, 247, 247);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
}

ul {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

h2 {
  font-size: 36 px;
  font-weight: extra-bold;
  color: #1f2937;
}

.title-area h1 {
  font-size: 48 px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.title-area button {
  font-size: 18 px;
  color: #f9faf8;
  background-color: #3883f6;
}

#top-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#top-menu h2 {
  font-size: 24px;
  color: #f9faf8;
}

#testimonial {
  background-color: #e5e7eb;
}

#quote {
  font-size: 36 px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}
