body {
  height: 100vh;
  margin: 0;
  background-color: white;
  font-family: "Roboto", sans-serif;
  padding: 0;
}

header,
footer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #1f2937;
  color: #f9faf8;
}

header {
  flex-direction: column;
}

ul {
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  margin-right: 4rem;
  justify-content: space-between;
  align-items: center;
}

li {
  padding-left: 16px;
}

h2 {
  font-size: 36 px;
  font-weight: extra-bold;
  color: #1f2937;
  text-align: center;
}
#header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-left: 4rem;
}
.title-area h1 {
  font-size: 48 px;
  font-weight: extra-bold;
  color: #f9faf8;
  width: 50%;
}

.title-area p {
  width: 80%;
}

.title-area button {
  font-size: 18 px;
  color: #f9faf8;
  background-color: #3883f6;
  border: #3883f6;
  border-radius: 4px;
  padding: 6px 33px;
}

.img {
  background-color: darkgrey;
  /* min-width: 200 px; */
  min-height: 80px;
  margin-right: 4rem;
  text-align: center;
  display: flex;
  align-self: center;
}

#info-section {
  display: flex;
  flex-direction: column;

}
.img-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-div {
  border: 2px solid #3883f6;
  border-radius: 6px;
  width: 4rem;
  height: 4rem;
}
.img-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  flex-wrap: nowrap;

}
#top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#top-menu h2 {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 4rem;
}

#testimonial {
  background-color: #e5e7eb;
}

#quote {
  font-size: 36 px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}
